header {
  background-color: var(--dark-20);
  text-align: center;
  padding: 1em;
}
header h1 {
  color: var(--brand-color);
  font-size: 2.4em;
  margin: 0.5em auto 2em;
  font-family: var(--space-grotesk), sans-serif;
  font-weight: 500;
  line-height: 51.04px;
  text-align: center;
}
header h1 span {
  color: var(--dark-60);
}
.brackets {
  color: var(--brand-color);
  font-size: 40px;
}
.input-container {
  display: inline;
  border-radius: 8px;
  padding: 18px 24px;
  background-color: var(--dark-30);
}

.bi-search {
  color: var(--dark-60);
}

header input {
  width: 60%;
  color: var(--dark-60);
  border: solid 2px var(--dark-30);
  border-radius: 8px;
  padding: 16px 24px 16px 24px;
  background-color: var(--dark-30);
  margin-bottom: 2.4em;
  font-size: 16px;
  font-family: var(--inter);
  font-weight: 500px;
}

.bi-search {
  color: var(--dark-60);
}
